{% extends 'core/base.html' %}

{% block content %}
    <div class="p-6 bg-gray-400 rounded-xl">
        <form method="POST" action="." class="space-y-4">
            {% csrf_token %}
            <div class="mb-4">
                <label for="nombre" class="font-bold">Nombre</label><br>
                <input type="text" value="{{cliente.nombre}}" name="nombre" class="text-white w-full py-4 px-6 rounded-xl bg-gray-700">
            </div>
            <div class="mb-4">
                <label for="apellido" class="font-bold">Apellido</label><br>
                <input type="text" value="{{cliente.apellido}}" name="apellido" class="text-white w-full py-4 px-6 rounded-xl bg-gray-700">
            </div>
            <div class="mb-4">
                <label for="email" class="font-bold">Email</label><br>
                <input type="email" value="{{cliente.email}}" name="email" class="text-white w-full py-4 px-6 rounded-xl bg-gray-700">
            </div>
            <div class="mb-4">
                <label for="direccion" class="font-bold">Direccion</label><br>
                <input type="text" value="{{cliente.direccion}}" name="direccion" class="text-white w-full py-4 px-6 rounded-xl bg-gray-700">
            </div>
            <button type="submit" class="p-3 bg-emerald-400 text-white text-l rounded-xl">Guardar</button>
        </form>
    </div>

            
{% endblock %}