{% extends 'core/base.html' %}

{% block content %}
<div class="p-6 bg-gray-400 rounded-xl">
    <form method="POST" action="." class="space-y-4">
        {% csrf_token %}
        <div class="mb-4">
            <label for="codconductor" class="font-bold">Conductor</label><br>
            <label class="flex items-center">
                <select class="w-full py-4 px-6 rounded-xl bg-gray-700 text-white" name="codconductor" id="codconductor">
                <option value="">Seleccione una opcion</option>
                {% for conductor in conductores %}
                <option value="{{ conductor.id }}">
                    {{conductor.codempleado.nombre}} {{conductor.codempleado.apellido}}
                    <span class="text-bold">{{conductor.tipodelicencia}}</span>
                </option>
                {% endfor %}
                </select>
            </label>
        </div>
        <div class="mb-4">
            <label for="codcliente" class="font-bold">Cliente</label><br>
            <select name="codcliente" class="w-full py-4 px-6 rounded-xl bg-gray-700 text-white">
                <option value="">Seleccione una opcion</option>
                {% for cliente in clientes %}
                    <option value="{{ cliente.id }}">{{ cliente.nombre }} {{ cliente.apellido }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-4">
            <label for="codcamion" class="font-bold">Camión</label><br>
            <select name="codcamion" class="w-full py-4 px-6 rounded-xl bg-gray-700 text-white">
                <option value="">Seleccione una opcion</option>
                {% for camion in camiones %}
                    <option value="{{ camion.id }}">{{camion.marca}} {{ camion.modelo }} ({{camion.id}})</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-4">
            <label for="codruta" class="font-bold">Ruta</label><br>
            <select name="codruta" class="w-full py-4 px-6 rounded-xl bg-gray-700 text-white">
                <option value="">Seleccione una opcion</option>
                {% for ruta in rutas %}
                    <option value="{{ ruta.id }}">{{ ruta.origen|capfirst }}-{{ ruta.destino|capfirst }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-4">
            <label for="tipodereserva" class="font-bold">Tipo de reserva</label><br>
            <input type="text" name="tipodereserva" class="text-white w-full py-4 px-6 rounded-xl bg-gray-700">
        </div>
        <div class="mb-4">
            <label for="costodereserva" class="font-bold">Costo de reserva</label><br>
            <input type="text" name="costodereserva" class="text-white w-full py-4 px-6 rounded-xl bg-gray-700">
        </div>
        <div class="mb-4">
            <label for="fechainicioreserva" class="font-bold">Fecha de inicio de reserva</label><br>
            <input type="date" name="fechainicioreserva" class="text-white w-full py-4 px-6 rounded-xl bg-gray-700">
        </div>
        <div class="mb-4">
            <label for="fechafinreserva" class="font-bold">Fecha de fin de reserva</label><br>
            <input type="date" name="fechafinreserva" class="text-white w-full py-4 px-6 rounded-xl bg-gray-700">
        </div>
        <div class="mb-4">
            <label for="confirmacion" class="font-bold">Confirmación</label><br>
            {{ form.confirmacion }}
        </div>        
        <div class="mb-4">
            <label for="anticiporeserva" class="font-bold">Anticipo de reserva</label><br>
            <input type="text" name="anticiporeserva" class="text-white w-full py-4 px-6 rounded-xl bg-gray-700">
        </div>
        <div class="mb-4">
            <label for="porcentajeperdido" class="font-bold">Porcentaje perdido</label><br>
            <input type="text" name="porcentajeperdido" class="text-white w-full py-4 px-6 rounded-xl bg-gray-700">
        </div>
        <button type="submit" class="p-3 bg-teal-600 hover:bg-teal-700 text-white text-l rounded-xl">Registrar</button>
    </form>
</div>
{% endblock %}